$tipografia-secundaria:  'Roboto', sans-serif;
$tipografia-principal: 'Playfair Display', serif; 

$back-principal: rgba(255, 255, 0, 0); 

$fuente: 40px;
//  $colors:(
//      'pripario': red,
//      'secundario': blue,
//      'terciario': green
//  );
